.sectionContainer {
  margin-top: 60px;
  /* width: 1440px; */
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background: radial-gradient(
    100% 277.78% at 100.03% 0.03%,
    #FFFFFF 0%,
    #193B33 50%
  );
}



.rightSection {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}