.sectionContainer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
   
  }
  
  .centerSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }

  .featureContainer {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    background-color:  #7D8F8F
  }